*{
    box-sizing: border-box;
}
body{
    
    background: linear-gradient(to right,violet,cyan,violet);
}
.container{
   display: flex; 
   justify-content: center;
   align-items: center;
}
.box{
    display: flex;
    background-color: white;
    margin: 30px 0px;
    height: 600px;
    width: 900px;
    border-radius: 5px;

}
.left{
    width: 50%;
    padding: 20px 50px;
    /* line-height: ; */
}
input{
    padding: 10px 50px;
}
#log{
    padding: 10px 112px;
    margin-bottom: 20px;
    background-color:cyan;
    border-radius: 5px;
}
button a{
    text-decoration: none;
}
.btn button{
    margin-top: 20px;
    padding: 10px 31px;
    color: blueviolet;
    border-radius: 5px;
    
}

.right{
    width: 100%;
    padding:20px 50px ;
    
}
img{
    height: 480px;
    /* background-size:cover; */
    
}
.sign{
    margin: 70px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    height: 500px;
    width: 600px;
    background-color: white;
    text-align: center;
    font-size: larger;
    border-radius: 5px;
}
.box1 button{
    padding: 10px 20px;
    background-color: blueviolet;
    border-radius: 5px;
}
.box1 button a{
    color: white;
}
input{
    margin: 30px 0px;
    border-color: blue;
    border-radius: 5px;
}
.box1 